@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #000;
  --background-2: #eee;
  --grid-border: #b8b8b8;
  --grid-border-quarter: #aaa;
  --grid-border-whole: #666;
  --root-note: #d8d8d8;
  --hovered-note: #c8c8c8;
} */

/* @media (prefers-color-scheme: dark) { */
  :root {
    --background: #333;
    --foreground: #fff;
    --background-2: #444;
    --grid-border: #686868;
    --grid-border-quarter: #888;
    --grid-border-whole: #ccc;
    --root-note: #484848;
    --hovered-note: #585858;
  }
/* } */

body, .background {
  color: var(--foreground);
  background: var(--background);
}

.background-2 {
  background: var(--background-2);
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.grid-border-whole {
  stroke: var(--grid-border-whole);
  stroke-width: 1.5;
}

.grid-border-quarter {
  stroke: var(--grid-border-quarter);
}

.grid-border {
  stroke: var(--grid-border);
  stroke-width: .5;
}

.root-note {
  fill: var(--root-note);
}

.hovered-note {
  fill: var(--hovered-note);
}